body {
    background-color: #242121;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;  
}

.header {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 50px
}

.controls-container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    margin-top: 40px;
    margin-bottom: 20px;
}

.button-play {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 37px;

    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 18px 0 18px 30px;
}

.button-stop {
    background-color: rgb(255, 255, 255);
    border: 1px white;
    height: 37px;
    width: 37px;

    cursor: pointer;
}


input[type="file"] {
    display: none;
}

.file-upload {
    background: white;
    color: #242121;
    width: 65px;
    padding: 11px 12px;
    cursor: pointer; 
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; 
    height: 15px;
    background: #ffffff; 
    outline: none; 
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #242121; 
    cursor: pointer; 
    outline: solid white;
    outline-width: 2px;
  }


.blueLine1 {
    width: 100px;
    height: 350px;
    background: #569dcb;
    transform: skew(-40deg);
    position: absolute; 
    top: 0px;
    z-index: -1;
}

.blueLine2 {
    width: 100px;
    height: 350px;
    background: #569dcb;
    transform: skew(-40deg);
    position: absolute; 
    bottom: 0px;
    right: 50px;
    z-index: -1;
}

.yellowLine1 {
    width: 100px;
    height: 500px;
    background: #f9b131;
    transform: skew(-40deg);
    position: absolute; 
    top: 0px;
    left: 42px;
    z-index: -1;
}

.yellowLine2 {
    width: 100px;
    height: 500px;
    background: #f9b131;
    transform: skew(-40deg);
    position: absolute; 
    bottom: 0px;
    right: 85px;
    z-index: -1;
}

.redLine1 {
    width: 100px;
    height: 700px;
    background: #a92326;
    transform: skew(-40deg);
    position: absolute; 
    top: 0px;
    left: 57px;
    z-index: -1;
}
.redLine2 {
    width: 100px;
    height: 700px;
    background: #a92326;
    transform: skew(-40deg);
    position: absolute; 
    bottom: 0px;
    right: 100px;
    z-index: -1;
}


.wave {
    background: rgb(255, 255, 255);
    width: 1050px;
    height: 400px;
    border-style:solid;
    border-width: 50px;
    border-color: rgb(255, 255, 255);
    border-radius: 15%;
    margin: 0 auto;
    position: flex;
    
}